@font-face {
	font-family: "Flaticon";
	src: url("/images/luggage/flaticon.eot");
	src: url("/images/luggage/flaticon.eot#iefix") format("embedded-opentype"),
	url("/images/luggage/flaticon.woff") format("woff"),
	url("/images/luggage/flaticon.ttf") format("truetype"),
	url("/images/luggage/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
font-style: normal;
}.flaticon-backpack5:before {
	content: "\e000";
}
.flaticon-bag29:before {
	content: "\e001";
}
.flaticon-bag38:before {
	content: "\e002";
}
.flaticon-baggage18:before {
	content: "\e003";
}
.flaticon-big37:before {
	content: "\e004";
}
.flaticon-black170:before {
	content: "\e005";
}
.flaticon-book11:before {
	content: "\e006";
}
.flaticon-bottle36:before {
	content: "\e007";
}
.flaticon-briefcase14:before {
	content: "\e008";
}
.flaticon-briefcase19:before {
	content: "\e009";
}
.flaticon-briefcase51:before {
	content: "\e00a";
}
.flaticon-briefcase8:before {
	content: "\e00b";
}
.flaticon-canteen:before {
	content: "\e00c";
}
.flaticon-delivery24:before {
	content: "\e00d";
}
.flaticon-fashionable:before {
	content: "\e00e";
}
.flaticon-goggle:before {
	content: "\e00f";
}
.flaticon-golf18:before {
	content: "\e010";
}
.flaticon-portfolio3:before {
	content: "\e011";
}
.flaticon-rounded16:before {
	content: "\e012";
}
.flaticon-sandals2:before {
	content: "\e013";
}
.flaticon-short2:before {
	content: "\e014";
}
.flaticon-socks1:before {
	content: "\e015";
}
.flaticon-suitcase1:before {
	content: "\e016";
}
.flaticon-suitcase24:before {
	content: "\e017";
}
.flaticon-suitcase43:before {
	content: "\e018";
}
.flaticon-umbrella2:before {
	content: "\e019";
}
.flaticon-wiping7:before {
	content: "\e01a";
}