<div ng-controller="LuggageConveyor">
  <span ng-repeat="luggage in luggages" luggage type="{{luggage.type}}" ng-click="openLuggage($index)">
  </span>
</div>

<div ng-controller="HoardController">
  <ul>
    <li dir-paginate="item in hoard | filter:filterOwnedItems | itemsPerPage: 10">
      {{item.name}} : {{item.count}}
    </li>
  </ul>
  Only Items I Own: <input type="checkbox" ng-model="onlyOwnedItems">
</div>

<dir-pagination-controls template-url="views/pagination/dirPagination.tpl.html"></dir-pagination-controls>


<div class="attribution">
  <div>Icons made by Daniel Bruce, Freepik, Dave Gandy, SimpleIcon from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
</div>